@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


* {
    /*transition: 0.5s;*/
}

body {
    --primary-color: #0faca4;
    --dark-cyan: #709492;
    --off-white: #f1f1f1;
    --off-theme: #f5fdfc;
    --text-color: black;
    --theme: white;
    --shadow: rgb(190, 190, 190);
    --title: white;
    --footer-shadow: #ffffff9f;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

body.dark {
    --primary-color: #0d6662;
    --dark-cyan: #88b6b4;
    --off-white: #131313;
    --off-theme: #000000;
    --text-color: white;
    --theme: black;
    --shadow: rgb(49, 49, 49);
    --title: black;
    --footer-shadow: #00000010;
    background-color: black;
}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/

.primary-link:hover {
    background-color: #1c8f89;
}

.secondary-link:hover {
    background-color: rgb(214, 226, 226);
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}

.blog-link {
    text-decoration: none;
    color: var(--primary-color);
}
/** lists **/

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** nav **/

.nav-link {
    display: inline-block;
}


.nav-link::after {
    content: '';
    background: white;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    display: block;
    transition: transform 0.3s ease-in;

}

.nav-link:hover::after {
    transform: scaleX(1);
    transition: transform 0.3s ease-out;
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .nav-brand {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.anim-header {
    color: var(--primary-color);
    background-color: #0faca4;
    display: inline-block;
    transform: translateY(20%);
    padding: 0.05rem 0.3rem;
    overflow: hidden;
    border-bottom-left-radius: 0.5rem;
}


.anim-header span {
    transform: translateY(0);
    display: inline-block;
    animation-name: pagetitleanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;   
    color: var(--title) ;
}

@keyframes pagetitleanim {
    0% {transform: translateY(-100%);}
    100% {transform: translateY(0);}
}


.title {
    color: var(--title);
    background-color: var(--primary-color);
    padding: 0rem 1rem;
    position: relative;
}

.hero {
    padding: 2rem;
}

.hero .hero-img {
    max-width: 200px;
    display: block;
    margin: auto;  
    box-shadow: 4px 4px 15px 0.5px var(--shadow); 
    border-radius: 50%;
}

.hero .hero-heading {
    font-size: 2rem;
    padding-top: 1rem;
    color: var(--dark-cyan);
    text-align: center;
}

.blog-header {
    font-size: 1.8rem;
    padding-top: 1rem;
    color: var(--primary-color);
    text-align: center;
}

.blog-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

/** sections **/

section > div > h1 , p {
    color: var(--text-color);
}

ol > li > h2, small {
    color: var(--text-color);
}

ol > li {
    color: var(--text-color);
}


.section {
    padding: 2rem;
    background-color: var(--theme);
}

.section-anim {
    transform: scale(1,1);
    transition: transform 0.3s ease-out;
}

.section-anim:hover {
    transform: scale(1.02,1.02);
    transition: transform 0.1s ease-in;
}

.section h1 {
    text-align: center;
    padding-bottom: 1rem;
}

.section-blogs {
    padding: 0.25rem 1rem;
    text-align: left;
}

.ow {
    background-color: var(--off-white);
}

.ot {
    background-color: var(--off-theme);
}
/** footers **/

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.global-nav__logo {
    transform: scale(1,1);
    transition: transform 0.3s ease-out;
    fill: white;
}

.global-nav__logo:hover {
    transform: scale(1.1,1.1);
    transition: transform 0.1s ease-in;
}

.github:hover {
    fill:black;
    transition: fill 0.4s ease-out;
    filter: drop-shadow(0px 0px 3px var(--footer-shadow));
}

.linkedin:hover {
    fill:#0e76a8;
    transition: fill 0.4s ease-out;
    filter: drop-shadow(0px 0px 3px var(--footer-shadow));
}

.instagram:hover {
    fill: #bc2a8d;
    transition: fill 0.4s ease-out;
    filter: drop-shadow(0px 0px 3px var(--footer-shadow));
}

.twitter:hover {
    fill:#00acee;
    transition: fill 0.4s ease-out;
    filter: drop-shadow(0px 0px 3px var(--footer-shadow));
}

.section-blogs a:hover {
    color:#036d68;
}

@media (max-width: 500px) {

    .navigation .list-non-bullet {
        text-align: center;
        padding: 0;
    }

    .bar {
        display: none;
    }

    .title {
        color: var(--title);
        background-color: var(--primary-color);
        margin: 0 auto;
        text-align: center;
        width: 80%;
        position: relative;
        display: block;
        font-size: 1.7rem;
    }
}